.navbar{
  display:flex;
  justify-content: space-between;
}
body{
  background-color:black;
}
.item{
  color:white;
}
.navbar-second{
  display:flex;
  justify-content:space-between;
  text-align:center;
  gap:30px;
}
